
<h2>Chat</h2>
<div id="chat-box">
</div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name">
  <textarea placeholder="Your comment" id="user-msg"></textarea>
  <button type="submit">Post</button>
</form>

 <!-- HTML for Macro Calc maker -->

<br>

<h2>Add Food</h2>
 
<form id="food-form">
  <input type="text" placeholder="User Name" id="item-user">
  <input type="text" placeholder="Food Item Name" id="item-food">
  <input type="text" placeholder="Calories" id="calories">
  <input type="text" placeholder="Proteins" id="proteins">
  <input type="text" placeholder="Carbohydrates" id="carbohydrates">
  <input type="text" placeholder="Fat" id="fats">
  <button type="submit">Create</button>
</form>
 
<h2>Food Log</h2>
  <div id="food-box">
</div>
